@import './_normalize.scss';
@import './_scene.scss';
@import './_loading.scss';
@import './_game.scss';

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background: #000;

  font-family: 'Dosis', sans-serif;
  font-size: 13px;
}

.loader {
  display: none;
  position: absolute;
  z-index: 9999;

  width: 100vw;
  height: 100vh;

  text-align: center;
  line-height: 100vh;

  font-size: 24px;
  letter-spacing: 14px;
  color: #fff;

  text-shadow:
    0 -1px 1px rgba(0, 0, 0, .2),
    1px 0 1px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .2),
    -1px 0 1px rgba(0, 0, 0, .2);

  animation: loader 1.5s infinite ease;

  &.show {
    display: block;
  }
}